@import 'layouts/partials/navHeader';
@import 'core/variables';

@mixin respond-to-specific($width){
	@media only screen and (max-width: $width){
		@content
	}
}

* {
	font-family: 'Helvetica', monospace;
	color: #333333;
}

.clear {
	clear:both;
}
 
body {
	background: #ffffff;
}

ul {
	list-style-type: square;
}

#intro{
	width: 650px;
	margin: 0 auto;
	@include respond-to-specific(650px){
		width: 98%;
	}
	
	#definition{
		margin-top: 33%;
		#name{
			margin-bottom: 0;
			font-size: 50px;
		}

		#purpose{
			margin-top: 0;
		}
		
		#social-media{
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;

			li{
    			display: inline;
				font-size: 25px;
				a{
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}
