@import 'layouts/partials/navHeader';
@import 'core/variables';

@mixin respond-to-specific($width){
	@media only screen and (max-width: $width){
		@content
	}
}

* {
	font-family: 'Helvetica', monospace;
	color: #333333;
}

.clear {
	clear:both;
}
 
body {
	background: #ffffff;
}

ul {
	list-style-type: square;
} 

.cont{
	width: 850px;
	margin: 0 auto;
	@include respond-to-specific(850px){
		width: 98%;
	}
	position: relative;
}


h1{
	font-size: 48px;
}

h2{
	font-size: 24px; 
}

#intro{
	#definition{
		margin-top: 33%; 
		#name{
			margin-bottom: 0;
		}

		#purpose{
			margin-top: 0;
		}
		
		#social-media{
			list-style-type: none;
			padding-left: 0;
			margin-left: 0;

			li{
    			display: inline;
				font-size: 25px;
				a{
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}

#xen-app{
	width: 300px;
	height: 300px; 
	border-radius: 50%;
	overflow:hidden;
	position: fixed;
	@include respond-to-specific(850px){
		width: 290px;
		height: 290px;
	}
}

#xenTrafficPage{
	position: relative;
	.title{
		background: #ffffff;
		width: 300px;
		@include respond-to-specific(350px){
			width: 100%;
			margin: 0 auto;
			padding-left: 0;
			h1{font-size:36px;}
		}
	}
}

.demo{
	z-index: -2;
	width: 50%;
	float: left;
	@include respond-to-specific(850px){
		position: relative;
		left: 0px;
		width: 100%;
		margin: 0 auto;
	}
}

.desc{
	z-index: 3;
	width: 50%;
	float: left;
	p{
		font-size: 16px;
		line-height: 1.8;
	}
	@include respond-to-specific(850px){
		position: relative;
		left: 0px;
		width: 100%;
	}
}

#highway{
	position: relative;
	background: url("/img/bg-night.png") no-repeat;
	background-size: auto 650px;
	height: 650px;
	margin: 0 auto;
	margin-top: -165px;
	overflow: hidden;
	color: #000000;
	@include respond-to-specific(700px){
		width: 98%;
	}
}

.car{
	transition: left 20000ms, top 10000ms;
	position: absolute;
	width: 50px;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

