{{partial "header.html" .}}
{{partial "navHeader.html" .}}
<div id="intro" class="cont">
	<div id="definition">
		<h1 id="name">Ivan Zhang</h1>
		<h2 id="purpose">Go && Deep Learning</h2>
	</div>
	<div id="upto">I'm currently a Software Developer at <a href="https://www.visioncritical.com"><b>Vision Critical</b></a> on the <a href="https://www.pressly.com"><b>Pressly</b></a> team solving concurrency and scale problems using the Go programming language. In my free time I like to perform research with <a href="http://for.ai"><b>FOR.ai</b></a> building neural networks with Tensorflow and trying interesting ideas.
    <ul>
        <li>
           <a href="https://github.com/1vn"><b>GitHub</b></a>
        </li>
        <li>
            <a href="https://openreview.net/profile?email=ivan%40for.ai"><b>OpenReview</b></a>
        </li>
        <li>
            <a href="https://www.twitter.com/@1vnzh"><b>Twitter</b></a>
        </li>
    </ul>
    </div>
</div>
<div id="press" class="cont">
    <h2>Press</h2>
    <li>
        <a href="https://www.utoronto.ca/news/cracking-code-group-u-t-computer-science-researchers-are-decoding-ciphers-ai">
            <b>UofT News: Cracking the code: This group of U of T computer science researchers are decoding ciphers with AI</b>
        </a>
    </li>
</div>
{{partial "footer.html" .}}
