{{partial "header.html" .}}
{{partial "navHeader.html" .}}
<div id="intro" class="cont">
	<div id="definition">
		<h1 id="name">Ivan Zhang</h1>
		<h2 id="purpose">Full Stack Developer</h2>
	</div>
	<div id="upto">I'm currently the Lead Software Developer at <a href="https://www.ranomics.com"><b>Ranomics</b></a>. You can check out <a href="https://github.com/1vn"><b>what I'm working on</b></a>, or follow me on <a href="https://www.twitter.com/@1vnzh"><b>Twitter</b></a></div>
</div>
{{partial "footer.html" .}}
