{{partial "header.html" .}}
{{partial "navHeader.html" .}}
<div id="intro" class="cont">
  <div id="definition">
    <h1 id="name">Ivan Zhang</h1>
    <h2 id="purpose">Go && Deep Learning</h2>
  </div>
  <div id="upto">
    <p>
      I'm currently a Machine Learning Infrastructure Engineer at <a href="https://www.cortexlabs.com"><b>Cortex Labs</b></a>,
      I spend a lot of my time designing large scale systems and building infrastructure automation tooling for
      Machine Learning services, mostly in Go.
    </p>
    <p>
      Previously, I built cool stuff with the <a href="http://github.com/pressly"><b>Pressly</b></a> backend team and
      lead engineering at <a href="https://www.ranomics.com"><b>Ranomics</b></a>.
    </p>
    <p>
      The rest of my time I dedicate to publishing deep learning research with <a href="http://for.ai"><b>FOR.ai</b></a>.
      While waiting for experiments to finish, I build tooling for workflow automation and infrastrucutre to
      help researchers focus on research. I talk about some of my work <a href="https://www.youtube.com/watch?v=AzK_JyFxwLU&feature=youtu.be&t=14206">here</a>.
      <ul>
        <li>
          <a href="https://github.com/1vn"><b>GitHub</b></a>
        </li>
        <li>
          <a href="https://openreview.net/profile?email=ivan%40for.ai"><b>OpenReview</b></a>
        </li>
        <li>
          <a href="https://www.twitter.com/@1vnzh"><b>Twitter</b></a>
        </li>
      </ul>
  </div>
</div>
<div id="pubs" class="cont">
  <h2>Publications</h2>
  <li>
    <a href="https://arxiv.org/abs/1801.04883">
      <b>Unsupervised Cipher Cracking Using Discrete GANs (ICLR Poster 2018)</b>
      <i>Aidan Gomez, Sicong Huang, Ivan Zhang, Bryan Li, Muhammad Osama, Lukasz Kaiser</i>
    </a>
  </li>
  <li>
    <a href="https://openreview.net/forum?id=HkghWScuoQ">
      <b>Targeted Dropout (NIPS CDNNRIA Workshop Poster 2018)</b>
      <i>Aidan Gomez, Ivan Zhang, Kevin Swersky, Yarin Gal, Geoffrey Hinton</i>
    </a>
  </li>
</div>
<div id="press" class="cont">
  <h2>Press</h2>
  <li>
    <a href="https://www.utoronto.ca/news/cracking-code-group-u-t-computer-science-researchers-are-decoding-ciphers-ai">
      <b>UofT News: Cracking the code: This group of U of T computer science researchers are decoding ciphers with AI</b>
    </a>
  </li>
</div>
{{partial "footer.html" .}}